services:
  mongodb:
    image: mongo
    container_name: mongo_db
    ports:
      - 27017:27017
    volumes:
      - mongo:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=haivoDev
      - MONGO_INITDB_ROOT_PASSWORD=haivoDev

  mongo-express:
    image: mongo-express
    container_name: mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=haivoDev
      - ME_CONFIG_MONGODB_ADMINPASSWORD=haivoDev
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_AUTH_DATABASE=admin   # <- thêm dòng này

volumes:
  mongo: {}
